<launch>
    <!-- Start a gazebo world -->
    <arg name="debug" default="false"/>
    <arg name="gui" default="false"/>
    <arg name="pause" default="false"/>
    <arg name="world" default="true"/>

    <!-- Including gazebo_ros launcher from package-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="$(arg pause)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="use_sim_time" value="true"/>
    </include>
       <!-- Robot model -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rarm_description)/urdf/arm.xacro'" />
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0.5"/>
        
        <!-- Spawn the robot model -->
        <node name="rarm_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-urdf -param robot_description -model mrm -x $(arg x) -y $(arg y) -z $(arg z)" />
      
        <!-- Load controllers -->
        <rosparam command="load" file="$(find rarm_description)/launch/plugins/joints.yaml" />
        
        <!-- Controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" ns="/rarm" args="--namespace=/rarm joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller" >
        </node>
        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
        </node>
            
</launch>